#header{
   
    position: absolute;
    top: 40%;
    left: 40%;
  
    width: 70%;
    height: 100vh;
    /* background-image: url(Images/finalImg.png); */
    background-size: cover;
    background-position: center;
   
}
form input, form textarea{
    width: 30%;
    border: 1;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    border-radius: 6px;
    border-color: black;
    font-size: 18px;
}


.btn{
    display: block;
    margin: 30px auto;
    width: 30%;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    transition: transform 0.3s;
}
.btn:hover{
    background: #ff004f;
    transform: scale(1.1);
}
.terms{
    color: #ff004f;
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}


form .btn2{
    padding: 14px 60px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}