.login-Container{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 25%;
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  }
  
  .signup {
    color: rgb(77, 75, 75);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0.5em;
  }
  
  .form--input {
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
  }
  
  .form--input:focus {
    border: 1px solid var(--buttons);
    outline: none;
  }
  
  .form--marketing {
    display: flex;
    margin-bottom: 1.25em;
    align-items: center;
  }
  
  .form--marketing > input {
    margin-right: 0.625em;
  }
  
  .form--marketing > label {
    color: grey;
  }
  
  .form--submit {
    width: 50%;
    padding: 6px 18px;
    border-radius: 5px;
    color: white;
    background-color: #236645;
    /* background-color: var(--buttons); */
    border: 1px dashed var(--buttons);
    cursor: pointer;
  }
  
  .form--submit:hover {
    background-color: #2dd182;
    color: black;
    border: 1px dashed var(--primary);
    cursor: pointer;
    transition: 0.5s;
  }


  /* Smart phones */
@media screen and (max-width: 600px) {
  .login-form{
    width: 100%;
  }
}