

.collapse{
    width: 100%;
}

.navigation-container{
    
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar-collapse ul{
    display: flex;
    flex-direction: column;
}

.navbar-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.navbar-nav h1{
    color: #fff;
    font-weight: 300;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.nav-item a{
    color: #fff;
    font-weight: 340;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
}

.login-section-icons{
    cursor: pointer;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-user, .logout-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: inherit;
    color: var(--secondary-color);
}

.login-section-icons:hover{
    color: var(--bs-font-color);
}

.user-firstname{
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
}
  
ul{
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
    line-height: 30px;
}

ul li a {
    display: block;
    border: 2px solid transparent;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

ul li a:hover {
    font-weight: 450px;
    cursor: pointer;
    color: black;
}

ul li ul.dropdown {
    font-size: 14px;
    background: #fff;
    display: none;
    border-radius: 10px;
    position: absolute;
    width: 150px;
    z-index: 999;
    padding: 15px;
}

ul li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
    text-align: center;
}